<div class="ng2messages">
  <div class="alert alert-success ng2messages-container" role="alert" *ngIf="asArray(messages.success).length>0">
    <div class="ng2messages-close" (click)="close('success')"></div>
    <div class="ng2message" *ngFor="let msg of asArray(messages.success)">
      <div class="ng2message" [innerHtml]="msg.message"></div>
    </div>
  </div>
  <div class="alert alert-info ng2messages-container" role="alert" *ngIf="asArray(messages.info).length>0">
    <div class="ng2messages-close" (click)="close('info')"></div>
    <div class="ng2message"  *ngFor="let msg of asArray(messages.info)">
      <div class="ng2message" [innerHtml]="msg.message"></div>
    </div>
  </div>
  <div class="alert alert-warning ng2messages-container" role="alert" *ngIf="asArray(messages.warning).length>0">
    <div class="ng2messages-close" (click)="close('warning')"></div>
    <div class="ng2message"  *ngFor="let msg of asArray(messages.warning)">
      <div class="ng2message" [innerHtml]="msg.message"></div>
    </div>
  </div>
  <div class="alert alert-danger ng2messages-container" role="alert" *ngIf="asArray(messages.error).length>0">
    <div class="ng2messages-close" (click)="close('error')"></div>
    <div class="ng2message"  *ngFor="let msg of asArray(messages.error)">
      <div class="ng2message" [innerHtml]="msg.message"></div>
    </div>
  </div>
</div>
